{% extends 'CraueFormFlowDemoBundle:FormFlowDemo:createTopic.html.twig' %}

{% block headline %}
	<h1>{{ 'formFlow.demo' | trans }}: {{ 'formFlow.demo.topicFlowWithDsn.title' | trans }}</h1>
{% endblock %}
